
html {
    font: normal 14px Consolas;
}

.wrapper {
    width: 984px;
    margin: 50px auto 0 auto;
}
.form-wrapper-outer {
    border: 1px solid #999;
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    overflow: auto;
    padding: 15px;
    margin-bottom: 15px;
}
.form-wrapper {
    width: 2500px;
}

.row:after {
    content: " ";
    display: table;
    clear: both;
}

.form-input-a {
    border: 1px solid #999;
    float: left;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: 0 5px 5px 0;
    padding: 1px;
}

.text-center {
    text-align: center;
}

.info {
    margin-bottom: 10px;
}

.coord-y {
    margin-left: 5px;
}
.number {
    margin-left: 5px;
}

.coord .value {
    display: inline-block;
    width: 25px;
}


